*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Open Sans', sans-serif;
}



body {

  --text-primary-for-dark-mode:#F6f6f6;
  --text-secondary-for-dark-mode:#9b9b9b;
  --text-tertiary-for-dark-mode:#6D6D6D;

  --background-primary-for-dark-mode:#0D0D0D;
  --background-secondary-for-dark-mode:#1A1D25;

  --overlay-background-in-hero-section:radial-gradient(ellipse at bottom, #081A34 0%, #0C0E1A 50%);
  --floating-image-background: linear-gradient(0deg, rgba(26,29,37,1) 0%, rgba(98,109,139,1) 100%);
  --portfolio-card-background: linear-gradient(93deg, #262B35 -1.28%, #171B22 99.56%, #21252C 99.56%);
  
  --portfolio-category-tag:#171B25;
  --toogle-background:#2C2E3B;
  --service-card-hover:linear-gradient(330deg, rgba(146, 171, 237, 0.47) -32.33%, rgba(146, 171, 237, 0.00) 75.4%), #1A1D25;



  --half-circle-background:linear-gradient(159deg, #F6F6F6 7.39%, #759CFF 73.45%);





  --border-line-one-for-dark-mode:#222A3D;

  --primary-color-for-dark-mode:#759CFf;

  --button-color:linear-gradient(180deg, rgba(255, 255, 255, 0.20) 22.34%, rgba(255, 255, 255, 0.00) 66.67%),#759CFF;
  --button-in-portfolio-section:#222A3D;

  --navbar-shadow-color:rgba(74, 74, 74, 0.15);
  --service-card-shadow:rgba(185, 185, 185, 0.0);
  --card-border:#222A3D;


  --font-1:'Nunito Sans', sans-serif;
  --font-2:'Open Sans', sans-serif;
}
body.light-mode {

  --text-primary-for-dark-mode:#0A0911;
  --text-secondary-for-dark-mode:#666666;
  --text-tertiary-for-dark-mode:#A7A7A7;

  --background-primary-for-dark-mode:#ffffff;
  --background-secondary-for-dark-mode:#f6f6f6;
  --overlay-background-in-hero-section:radial-gradient(ellipse at bottom, #f3f6ff 0%, #f9fbff 50%);
  --floating-image-background:linear-gradient(180deg, #F9F9F9 0.06%, #B9B9B9 97.35%);
  --portfolio-card-background:#FFF;
  --toogle-background:#e1e1e1;
  --portfolio-category-tag:#F6F6F6;
  --service-card-hover:linear-gradient(330deg, rgba(181, 199, 243, 0.46) 0%, rgba(231, 237, 251, 0.00) 100%), #FFF;
  --half-circle-background:linear-gradient(150deg, #B5C7F3 7.69%, #1149D7 103.89%);


  

  --border-line-one-for-dark-mode:#E7E6E7;

  --primary-color-for-dark-mode:#1149D7;

  --button-color:linear-gradient(180deg, rgba(255, 255, 255, 0.20) 22.34%, rgba(255, 255, 255, 0.00) 66.67%),#1149D7;
  --button-in-portfolio-section:#E7EDFB;

  --navbar-shadow-color:rgba(187, 187, 187, 0.15);
  --service-card-shadow:rgba(209, 209, 209, 0.15);
  --card-border:rgb(230, 230, 230);




  --font-1:'Nunito Sans', sans-serif;
  --font-2:'Open Sans', sans-serif;
}



/* LARGE DEVICE SCREEN */

@media (min-width: 1200px) {

}


/* MEDIUM DEVICE SCREEN */

@media (min-width: 992px) and (max-width:1199px) {
  .conatainer-for-toogle-switch{
    display: none !important;

  }
  .service{
    margin-bottom: 24px;
  }

}


@media (min-width:768px) and (max-width: 991px) {

  /* Existing styles within the media query */
  .switch {
    display: inline-block;
  }
  .navbar-link-holder {
    padding-left: 24px;
    padding-right: 24px;
  }
  .logo {
    font-size: 28px;
  }

  .slider:before {
    bottom: 4px;
  }
  .container-for-toogle-switch {
    position: relative;
    right: 0;
  }
  .navbar-collapse {
    height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }
  .navbar-collapse.show {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }
  .navbar-nav .nav-item .nav-link.selected::after {
    display: none;
    align-items: center;
  }
  .nav-item {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .nav-item .nav-link {
    font-size: 20px;
  }
  .overlay.active {
    display: block !important;
    animation: slideInTopRight 0.5s ease forwards;
  }
  .overlay-content {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    padding: 20px;
    color: white;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s ease;
  }
  .overlay.active .overlay-content {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  .navbar {
    height: 57px !important;
  }
  .overlay {
    display: none !important;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--background-primary-for-dark-mode);
    z-index: 99;
  }

  /* New styles added for the sections */
  .container-for-hero-section {
    height: auto;
    min-height: auto;
    max-height: max-content;
    align-items: center;
    margin-top: 60px;
    padding-bottom: 60px;
  }
  .hero-image-wrapper {
    margin-bottom: 40px;
  }
  .wave-text {
    text-align: center;
  }
  .hero-text {
    text-align: center;
  }
  .iam-product-designer {
    text-align: center;
  }
  .download-resume-button-container {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  /* Service section */
  .parent-container-for-expertise-section {
    background-color: var(--expertise-background);
    padding-top: 60px;
    padding-bottom: 36px;
  }
  .service {
    margin-bottom: 24px;
    background: var(--service-card-hover); /* Added background */
  }

  /* Portfolio section */
  .parent-container-for-portfolio-section {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-bottom: 60px;
  }

  /* Contact section */
  .contact-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .inputbox .inputbox-content2 {
    margin-bottom: 0;
  }
  .button-in-portfolio::before {
    height: 100%;
    background: var(--button-color);
  }
  .swiper {
    padding: 0 !important;
  }
  .button-in-portfolio i {
    color: var(--background-primary-for-dark-mode);
  }
  .learn-more-link {
    color: var(--text-primary-for-dark-mode) !important;
    font-weight: bold;
  }
}



/* SMALL DEVICE SCREEN */

@media (max-width: 767px) {


/* Styles for the overlay */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color:var(--background-primary-for-dark-mode);
  z-index:99;
}


.icon1 svg, .icon2 svg, .icon3 svg{
  height: 40px;
  width: 40px;
  
}




.overlay.active {
  display: block;
  animation: slideInTopRight 0.5s ease forwards;

}

.overlay-content {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  padding: 20px;
  color: white; /* Adjust text color */
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s ease;
}

.overlay.active .overlay-content {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.navbar{
  height: 52px !important;
}

.logo svg{
  height: 24px;
  margin-right: 4px;


  
}

.logo .rajit{
  height: 22px !important;
}

.navbar-toggler i{
  font-size: 32px;
}














    .switch {
        display: inline-block; /* Display elements in a line */
    }
    

    .slider:before{
    bottom: 4px;
    }
.conatainer-for-toogle-switch{
position: relative;
right:0;
}
.navbar-link-holder{
  padding-left: 20px;
  padding-right: 20px;
}
  .container { 
    padding-left:20px !important;
    padding-right: 20px !important;}

  .navbar-collapse {
    height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out; 
}


.navbar-collapse.show {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar-nav {
  flex-direction: column;
  align-items:center;
}

.navbar-nav .nav-item .nav-link.selected::after{
  display: none;
  align-items: center;

}

.nav-item{
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav-item .nav-link{
  font-size: 20px;
}

.progress-wrap{
  right:20px;
}

/* HERO SECTION STARTS HERE */
.holder-for-hero-text{
  padding-left: 0;
  padding-right: 0;
}
.wave-text{
  margin-bottom: 20px;
  text-align: center;
  color:var(--primary-color-for-dark-mode);
}
.iam-product-designer{
  text-align: center;
}

.hero-text{
  font-size: 32px;
  margin-bottom: 16px;
  text-align: center;
  color: var(--text-primary-for-dark-mode);
}

.container-for-hero-section{
  align-items: center;
  margin-top: 60px;
  padding-bottom: 40px;
}

.hero-image-wrapper{
  margin-bottom: 40px;
  height: 290px;
  width: 290px;


}

.hero-image-cover{
  height: 290px;
  width: 290px;
}

.background-circle{
  height:150px;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-28%, -24%) rotate(120deg);
  border-radius: 300px 300px 0 0;

}

.icon2{
  top: 77%;
  right:13px;
}

.icon1{
  left: -16px;
}

.parent-container-for-hero-section{
}


/* HERO SECTION ENDS HERE */



/* ABOUT SECTION STARTS HERE */
.parent-container-for-about-section{
  margin-bottom: 32px;

}
.container-for-text-in-about-section{
  margin-top: 32px;
  margin-bottom: 0px;
}

.about-section-heading{
  font-size: 32px;
}

.about-section-paragraph-text{
  width: 100%;
  font-weight:normal;
}


.download-resume-button-container{
  width: 100%;
  align-items: center;
  justify-content: center;
}


.download-resume-button{
  display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 8px;

}

/* ABOUT SECTION ENDS HERE */

/* EXPERTIES SECTION STARTS HERE */
.parent-container-for-expertise-section{
  padding-top: 35px;
  padding-bottom: 16px;
}

.expertise-section-heading-text{
  font-size: 32px;
  margin-bottom: 24px;
}

.expertise-section-para-text{
  font-weight: normal;
}

.service {
  margin-bottom: 24px;
  background:var(--service-card-hover);

}

.service-content{
  padding: 24px 24px; 
}

.service-title{
  margin-bottom: 16px;
}


.learn-more-link{
  color: var(--text-primary-for-dark-mode) !important;
  font-weight: bold;
}

.modal-content {
  max-height: 650px;
 
}






/* EXPERTIES SECTION ENDS HERE */

/* PORTFOLIO SECTION STARTS HERE */
.parent-container-for-portfolio-section{
  padding-top: 35px;
  padding-bottom: 40px;
}

.portfolio-section-heading-text {
  font-size: 32px;
  margin-bottom: 24px;
}

.portfolio-section-para-text {
  font-weight: normal;

}
.portfolio-section-para-text{
  padding-bottom: 8px;
}

.more-this-way-button{
  justify-content: center;
}

.portfolio-content-details{

  background:var(--portfolio-card-background);

}

 .button-in-portfolio::before {
  height: 100%;
  background:var(--button-color);}

.swiper{
  padding: 0 !important;
}

.button-in-portfolio i{
  color:var(--background-primary-for-dark-mode);
}


/* PORTFOLIO SECTION ENDS HERE */



/* CONTACT SECTION STARTS HERE */
.contact-section{
  padding-top: 35px;
  padding-bottom: 40px;
}
.parent-container-for-contact-section{
  border-radius: 16px;
padding: 20px !important;
}
.phone-icon i, .email-icon i {
  font-size: 16px !important;
}
.container-for-number-and-email{
  padding-left: 12px;
}

.container-for-inputs{
  padding-right: 12px;
}
.contact-section-heading-text{
  font-size: 32px;
  margin-bottom: 24px;
}

.have-a-plan{
  font-size: 20px;
}

.say-hello-text{
  margin-top: 24px;
  font-size: 20px;
}

.send-message{
  width: 100%;
  justify-content: center;
  color:#f3f3f3;
}

.phone, .email {
  font-size: 16px;
}

.number, .email-id{
  font-size: 16px;

}

.phone-icon, .email-icon{
  height: 40px;
  width: 40px;
}



.social-icon:hover::before {
  height: 100%;
  background: var(--primary-color-for-dark-mode);

}

.social-icon:hover {
  transform: translateY(0px);
}
.social-icon:hover i {
  color: #fff;
}

.social-icon:hover:after {
  transform: translate(0) scale(1.2);
}


.inputbox-content2{
  margin-bottom: 0 !important;
}






/* CONTACT SECTION ENDS HERE */

/* FOOTER SECTION STARTS HERE */
.parent-container-for-footer{
  padding-top: 16px;
  padding-bottom: 16px;
}

.follow-me-text{
  font-size: 20px;
}

/* FOOTER SECTION ENDS HERE */
























  }

 